<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- local style -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>To do List | <%=title %>
    </title>
</head>

<body>
    <div class="container d-flex justify-content-center min-vh-100">
        <div class="bg-white p-3 my-3 border">
            <h1>To do List</h1>
            <form action="/" method="POST" class="d-flex ">
                <div class="form-floating">
                    <input type="text" class="form-control" name="list" placeholder="Add new list">
                    <label for="list">To do list</label>
                </div>
                <button type="submit" class="btn btn-info mx-3 text-white">Add</button>
            </form>
            <div class="addedList my-2">
                <% if (Todo.length > 0) {%> 
                    <% Todo.forEach (x => { %> 
                        <p class="alert alert-info"><%=x.list %> </p>
                        <% }) %> 
                    <% } %> 
            </div>
        </div>

    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Pusher script -->
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>
        let form = document.querySelector('form');
        let addedList = document.querySelector('.addedList');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            let data = form.list.value;
            const response = await fetch('/',
                {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ list: data })
                })
            let res = await response.json();
            console.log(res);
        });

        Pusher.logToConsole = true;

        const pusher = new Pusher('d68418bc79c3238fc99d', {
            cluster: 'ap1'
        });

        const channel = pusher.subscribe('todoList');
        channel.bind('newList', function (data) {
            console.log(data.list);
            addedList.innerHTML += `<p class ="alert alert-info">${data.list}</p>`
        });



    </script>
</body>

</html>